@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Almarai:wght@300;400;700;800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* roots */

:root {
    --fwc-blue: #2A398D;
    --fwc-red: #E61D25;
    --fwc-green: #3CAC3B;
    --fwc-blue-dark: #0d1b6e;
    --fwc-red-dark: #6c0b0f;
    --fwc-green-dark: #0f550e;
    --fwc-blue-light: #a0abe8;
    --fwc-red-light: #ff9195;
    --fwc-green-light: #a5ffa3;
    --fwc-gold: #D4AF37;

    --bg-main: #0D1117;
    --bg-card: #161B22;
    --text-primary: #F0F6FC;
    --text-secondary: #dbdbdb;
    --border: #30363D;
    --border-opa: #30363D99;
    --accent: var(--fwc-gold);

    --font: "Roboto Condensed";
    --line-height: "normal";
}

body.light {
    --bg-main: #dfdfdf;
    --bg-card: #ebebeb;
    --text-primary: #1A1A1A;
    --text-secondary: #555555;
    --border: #a3a3a3;
    --border-opa: #a3a3a399;
    --accent: var(--fwc-blue);
}

html.ar {
    --font: "Tajawal";
    --line-height: 1;
}

/* init */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font);
}

/* body */

body {
    background-color: var(--bg-main);
    color: var(--text-primary);
    transition: 0.3s ease;
}

/* hr */

hr {
    border: none;
    background: linear-gradient(to left, transparent, var(--border), transparent);
    height: 5px;
    width: 100%;
    margin: 20px auto;
}

/*  */

.section-title {
    text-transform: uppercase;
    color: var(--text-primary);
    font-weight: 700;
    font-size: 40px;
    width: fit-content;
    text-align: center;
}

/*  */

.div-id {
    position: absolute;
    width: 0;
    height: 0;
    top: -140px;
}

/* main containers */

body>*>.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (max-width: 1200px) {
    body>*>.container {
        width: 970px;
    }
}

@media (max-width: 992px) {
    body>*>.container {
        width: 750px;
    }
}

@media (max-width: 768px) {
    body>*>.container {
        width: 100%;
        padding: 0 20px;
    }
}

/* theme fade */

.theme-fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-main);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease-in-out;
}

.theme-fade.active {
    opacity: 1;
}