/* header style */

header {
    background-color: var(--bg-card);
    border-bottom: 1px solid var(--border);
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 80px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .WC-logo {
    height: 50px;
    cursor: pointer;
}

header .btns {
    display: flex;
    gap: 10px;
}

header .btns button {
    background-color: transparent;
    border: 2px solid var(--border);
    color: var(--text-primary);
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
}

header .btns button:hover {
    border-color: var(--fwc-gold);
    color: var(--fwc-gold);
}

/* nav style */

nav {
    border-bottom: 1px solid var(--border);
    position: fixed;
    top: 80px;
    width: 100%;
    z-index: 1000;
    height: 40px;
    background: var(--bg-main);
    overflow: hidden;
}

nav .container {
    padding: 0;
}

nav .container ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    position: relative;
    display: block;
    color: var(--text-primary);
    text-decoration: none;
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
    line-height: var(--line-height);
    transition: 0.3s ease;
}

nav ul li a:hover {
    color: var(--fwc-gold);
}

nav ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--fwc-gold);
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

/*  */

section {
    background: var(--bg-card);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    top: 120px;
}

section .count-down {
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20vh;
}

@media (max-width: 460px) {
    section .count-down {
        gap: 5vh;
    }
}

.count-down .the-watch {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

@media (max-width: 780px) {
    .count-down .the-watch {
        gap: 30px;
    }
}

@media (max-width: 565px) {
    .count-down .the-watch {
        gap: 0;
    }
}

@media (max-width: 460px) {
    .count-down .the-watch {
        flex-flow: column nowrap;
        gap: 30px;
    }
}

.count-down .the-watch>div {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 200px;
}

@media (max-width: 1000px) {
    .count-down .the-watch>div {
        width: 150px;
    }
}

@media (max-width: 705px) {
    .count-down .the-watch>div {
        width: 110px;
    }
}

.count-down .the-watch>div:not(:last-of-type)::after {
    position: absolute;
    content: ":";
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 70px;
    font-weight: 700;
}

@media (max-width: 705px) {
    .count-down .the-watch>div:not(:last-of-type)::after {
        display: none;
    }
}

html.ar .count-down .the-watch>div:not(:last-of-type)::after {
    right: auto;
    left: -30px;
}

.count-down .the-watch>div .the-num {
    font-size: 100px;
    color: var(--text-primary);
    display: inline-block;
    min-width: 50px;
    text-align: center;
}

@media (max-width: 780px) {
    .count-down .the-watch>div .the-num {
        font-size: 70px;
    }
}

@media (max-width: 705px) {
    .count-down .the-watch>div .the-num {
        width: 100px;
    }
}

.flip {
    animation: flip-down 0.4s ease-in-out;
}

@keyframes flip-down {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.count-down .the-watch>div .type {
    font-size: 15px;
    color: var(--text-secondary);
}

.count-down>h1 {
    color: var(--text-secondary);
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-size: 30px;
}

@media (max-width: 460px) {
    .count-down>h1 {
        font-size: 20px;
    }
}

/* teams style */

.container .teams {
    width: 100%;
    position: relative;
}

.teams .teams-show {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
}

.teams-show::-webkit-scrollbar {
    display: none;
}

.teams .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.teams .title-wrapper button {
    background: transparent;
    border: 2px solid var(--border);
    color: var(--text-primary);
    padding: 10px 20px;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 900;
    transition: 0.3s;
}

.teams .title-wrapper button:hover {
    border-color: var(--fwc-gold);
    color: var(--fwc-gold);
}

.teams .teams-show .team-card {
    overflow: hidden;
    position: relative;
    height: 500px;
    min-width: 300px;
    border: 2px solid var(--fwc-gold);
    border-radius: 35px 0;
}

.team-card .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    filter: opacity(99%) brightness(40%) blur(5px);
}

body.light .team-card .bg {
    filter: opacity(95%) brightness(250%) blur(10px);
}

.team-card .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-card .content>h1 {
    padding: 5px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    color: var(--text-primary);
    filter: drop-shadow(0px 0px 5px var(--border));
}

.team-card .content .logo {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-card .content .logo img {
    height: 170px;
    filter: drop-shadow(0px 0px 5px var(--border));
}

.team-card .content .group-num {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    background: var(--fwc-gold);
    width: 100%;
}

.team-card .content .group-num span {
    font-size: 30px;
    color: var(--text-primary);
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}

html.ar .team-card .content .group-num span {
    font-size: 20px;
}

.team-card .content h2 {
    text-transform: uppercase;
    font-size: 15px;
    color: var(--text-secondary);
    font-weight: 600;
    text-align: center;
}

.team-card .content .info span {
    font-size: 30px;
    color: var(--text-primary);
    font-weight: 600;
    text-align: center;
    width: 100%;
    display: block;
    direction: ltr;
}

.team-card .content .info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.team-card .content .info>div {
    padding: 10px;
    width: 100%;
    flex-grow: 1;
    border: 2px solid var(--fwc-gold);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.team-card .content .info>div>* {
    filter: drop-shadow(0px 0px 5px var(--border));
}

.team-card .content .info .fifa-rank {
    grid-column-start: 1;
    grid-column-end: 3;
}

.team-card .content a {
    display: block;
    padding: 10px;
    font-size: 20px;
    color: var(--text-primary);
    background: var(--fwc-gold);
    text-decoration: none;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    flex-grow: 1;
}

html.ar .team-card .content a {
    font-size: 15px;
}

.team-card .content a:hover {
    text-decoration: underline;
}

/* matches style */

.container .matches {
    width: 100%;
    position: relative;
}

.matches .matches-show::-webkit-scrollbar {
    display: none;
}

.matches .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.matches .title-wrapper button {
    background: transparent;
    border: 2px solid var(--border);
    color: var(--text-primary);
    padding: 10px 20px;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 900;
    transition: 0.3s;
}

.matches .title-wrapper button:hover {
    border-color: var(--fwc-gold);
    color: var(--fwc-gold);
}

.matches .matches-show {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    gap: 20px;
}

.matches-show .match-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--bg-main);
    color: var(--text-primary);
    height: 175px;
    min-width: 350px;
    padding: 5px 10px;
    border-radius: 10px;
}

.match-card.mexico {
    background: var(--fwc-green-dark);
}

.match-card.canada {
    background: var(--fwc-red-dark);
}

.match-card.united-stats {
    background: var(--fwc-blue-dark);
}

body.light .match-card.mexico {
    background: var(--fwc-green-light);
}

body.light .match-card.canada {
    background: var(--fwc-red-light);
}

body.light .match-card.united-stats {
    background: var(--fwc-blue-light);
}

.match-card>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

.match-card>.info {
    width: 100%;
}

.match-card>.info * {
    font-weight: 700;
    padding: 5px;
}

.match-card>.info .time {
    position: relative;
    color: var(--text-secondary);
}

.match-card>.info .time.live {
    color: var(--fwc-red);
}

.match-card>.info .time.live::before {
    position: absolute;
    content: "";
    right: 50%;
    top: 0;
    height: 2px;
    width: 0;
    background: var(--fwc-red);
    animation: live-time 1s alternate infinite;
}

.match-card>.info .time.live::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 0;
    height: 2px;
    width: 0;
    background: var(--fwc-red);
    animation: live-time 1s alternate infinite;
}

@keyframes live-time {
    0% {
        width: 0;
    }

    100% {
        width: 40%;
    }
}

.match-card .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.match-card .content .team {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    border: 1px solid var(--border);
    border-radius: 50px;
    overflow: hidden;
}

.match-card .content .team .info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.match-card .content .team .info img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    filter: drop-shadow(0 0 20px var(--text-primary));
}

.match-card .content .team .score {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border);
    border-radius: 50%;
}

.match-card>span {
    width: 100%;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: var(--text-secondary);
    text-transform: capitalize;
}

/* footer style */

footer {
    position: relative;
    top: 120px;
}