/* header style */

header {
    background-color: var(--bg-card);
    border-bottom: 1px solid var(--border);
    padding: 15px 0;
    width: 100%;
    height: fit-content;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .title {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .title img {
    height: 80px;
}

header .title h1 {
    font-size: 30px;
    text-align: start;
    text-transform: uppercase;
    color: var(--text-primary);
}

header .btns {
    display: flex;
    gap: 10px;
}

header .btns button {
    background-color: transparent;
    border: 2px solid var(--border);
    color: var(--text-primary);
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
}

header .btns button:hover {
    border-color: var(--fwc-gold);
    color: var(--fwc-gold);
}

/* nav style */

nav {
    border-bottom: 1px solid var(--border);
    width: 100%;
    height: 40px;
    background: var(--bg-main);
    overflow: hidden;
}

nav .container {
    padding: 0;
}

nav .container ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    position: relative;
    display: block;
    color: var(--text-primary);
    text-decoration: none;
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
    line-height: var(--line-height);
    transition: 0.3s ease;
    cursor: pointer;
}

nav ul li a:hover {
    color: var(--fwc-gold);
}

nav ul li a.active {
    color: var(--fwc-gold);
}

nav ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--fwc-gold);
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a.active::after {
    width: 100%;
}

/* section style */

section .container main {
    display: none;
    padding: 20px 0;
}

section .container main.active {
    display: flex;
}

/* player list style */

.team-list {
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    flex-flow: row wrap;
}

.team-list .player-card {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    height: 400px;
    width: 300px;
    overflow: hidden;
    background: var(--bg-card);
    border: 2px solid var(--border);
    border-radius: 50px 0;
    cursor: pointer;
    transition: 1s;
}

@media (max-width: 755px) {
    .team-list .player-card {
        pointer-events: none;
    }
}

.team-list .player-card:hover {
    filter: drop-shadow(0 0 10px var(--border));
}

.team-list .player-card.open {
    width: 100%;
    border-radius: 0;
}

.team-list .player-card>* {
    width: fit-content;
    padding: 5px;
}

.player-card.goalkeeper {
    background: var(--bg-main);
}

.player-card.midfielder {
    background: var(--bg-main);
}

.team-list .player-card .image {
    height: 150px;
    overflow: hidden;
    background: linear-gradient(to right, var(--border), transparent);
}

html.ar .team-list .player-card .image {
    background: linear-gradient(to left, var(--border), transparent);
}

.team-list .player-card .image img {
    height: 150px;
}

.team-list .player-card .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.team-list .player-card .info>h1 {
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    width: 100%;
    text-wrap: wrap;
}

.team-list .player-card .info .pos-num-tem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.team-list .player-card .info .pos-num-tem img {
    height: 30px;
}

.team-list .player-card .info .pos-num-tem span {
    font-size: 20px;
    text-transform: uppercase;
}

.team-list .player-card .small-stat {
    padding: 0;
    grid-column: 1 / 3;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.team-list .player-card.open .small-stat {
    display: none;
}

.team-list .player-card .small-stat>div {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    gap: 5px;
    width: 100%;
    border: 2px solid var(--border);
}

.team-list .player-card .small-stat>*:first-of-type {
    grid-column: 1 / 3;
    border-top-width: 4px;
}

.team-list .player-card .small-stat>div h2 {
    font-weight: 300;
    color: var(--text-secondary);
    font-size: 15px;
}

.team-list .player-card .small-stat>div h3 {
    color: var(--text-primary);
    font-size: 40px;
}

.team-list .player-card.open .image {
    grid-row: 1 / 3;
    padding-bottom: 0;
    height: 100%;
}

.team-list .player-card.open .image img {
    height: 100%;
}

.team-list .player-card.open .info>h1 {
    font-size: 70px;
}

.team-list .player-card .big-stat {
    display: none;
}

.team-list .player-card.open .big-stat {
    padding-top: 15px;
    display: flex;
    width: 100%;
    overflow: auto;
}

.team-list .player-card.open .big-stat table {
    height: fit-content;
    text-transform: capitalize;
    width: 100%;
}

.team-list .player-card.open .big-stat table tr {
    height: 30px;
}

.team-list .player-card.open .big-stat table td {
    background: var(--border-opa);
    border: 1px solid var(--border);
    margin: 2px;
    padding: 2px;
    min-width: 70px;
}

.team-list .player-card.open .big-stat table span {
    display: block;
    width: 100%;
    text-align: center;
}

.team-list .player-card.open .big-stat table thead {
    font-weight: 700;
}

.team-list .player-card.open .big-stat table tbody {
    font-weight: 300;
}